In [1]:
#Data 
import pandas as pd
import numpy as np

#Plots 
import matplotlib.pyplot as plt

#Linear Regression Model Building Library
import sklearn.linear_model

In [2]:
data = pd.read_csv('ratings_small.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [4]:
#A1. To build the rank-based recommendation system, take the average of all the ratings provided to each movie
#and then rank them based on their average rating. Create a data frame to summarize the information. 
#There should be three columns, movie_id, average_rating, rating_count. 

df2=data[['movieId','rating']]
df2

        movieId  rating
0            31     2.5
1          1029     3.0
2          1061     3.0
3          1129     2.0
4          1172     4.0
...         ...     ...
99999      6268     2.5
100000     6269     4.0
100001     6365     4.0
100002     6385     2.5
100003     6565     3.5

[100004 rows x 2 columns]

In [5]:
#unique average of ratings per movieid

avg_rating=df2.groupby('movieId')['rating'].mean()
rating_count = df2.groupby('movieId')['rating'].count()

#df.groupby('Name')['Claimed'].mean()

In [6]:
df3 = pd.DataFrame({'average_rating':avg_rating, 'rating_count':rating_count})
df3.head()

         average_rating  rating_count
movieId
1              3.872470           247
2              3.401869           107
3              3.161017            59
4              2.384615            13
5              3.267857            56

In [7]:
df3.sort_values('rating_count',ascending = False).head(10)

         average_rating  rating_count
movieId
356            4.054252           341
296            4.256173           324
318            4.487138           311
593            4.138158           304
260            4.221649           291
480            3.706204           274
2571           4.183398           259
1              3.872470           247
527            4.303279           244
589            4.006329           237

In [8]:
#B1
data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [9]:
data.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
X= data[['userId','movieId']]
y= data.rating

X.shape

(100004, 2)

In [11]:
#B3. from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25)

In [12]:
from sklearn.neighbors import KNeighborsRegressor 
knn_model = KNeighborsRegressor(n_neighbors=3)
knn_model.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [13]:
#B5
from sklearn.metrics import mean_squared_error
from math import sqrt
y_preds = knn_model.predict(X_train)
mse = mean_squared_error(y_train, y_preds)
rmse = sqrt(mse)
print(rmse)

0.7963068728917059

In [73]:
result = data.query('movieId == 10 & userId == 4')
result

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645